[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "~=7.2.0"
pytesseract = "~=0.3.6"
flask = "~=1.1.2"

[dev-packages]

[requires]
python_version = "3.8"
